In [ ]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import pandas as pd
# Connection parameters
host = '192.168.3.15'
user = 'devturingmx'
password = quote_plus('des@rrollo')  # URL encode the password
database = 'sistema_monitoreo'  # Changed database name to sistema_monitoreo

# Create connection URL
connection_url = f'mysql+pymysql://{user}:{password}@{host}/{database}'

try:
    # Create the engine
    engine = create_engine(connection_url)
    
    # Test the connection
    with engine.connect() as connection:
        print("Successfully connected to MySQL database!")
        
        # Query to get all tables in the schema
        # Consulta para obtener todos los nombres de las tablas
        query = 'SHOW TABLES'
        tables = pd.read_sql(query, connection)
        # print(f"Lista de nombres de las tablas de la base de datos: {tables}")
        print("\nTablas en la base de datos:")
        # Get table names as a list and print them
        table_list = tables.iloc[:, 0].tolist()
        for table in table_list:
            print(f"{table}")

        print("=======================")

        # Arreglo para guardar los nombres de las tablas
        table_names = []
        # Guardar los nombres de las tablas en una lista
        for index, row in tables.iterrows():
            # En SHOW TABLES, el nombre está en la primera columna
            table_name = row[0]  
            # Guardar los nombres en el arreglo
            table_names.append(table_name)

        # Iterar sobre cada tabla y obtener la última fila (por ID descendente)
        for table_name in table_names:
            # Query para obtneer la ultima fila de la tablas
            query_last_row = f"SELECT * FROM `{table_name}` ORDER BY id DESC LIMIT 1"
            try:
                # usar pandas para obtener la data
                last_row = pd.read_sql(query_last_row, connection)
                # Imprimir la data
                print(f'Última fila de la tabla "{table_name}":\n{last_row}\n')
            except Exception as e:
                print(f'Error consultando la tabla "{table_name}": {e}')

except Exception as e:
    print(f"Error connecting to database: {e}")

Successfully connected to MySQL database!

Tablas en la base de datos:
area_gen_data
bomba_despacho_data
calculos_config
calculos_config_copy1
calculos_resultado
calculos_resultado_2
channel_config
codigo_calculo
drilling_sessions
fgenerador1_data
fgenerador2_data
fgenerador3_data
fgenerador4_data
fgenerador5_data
fgenerador6_data
fgenerador7_data
inf_equipos
rig_config
tnk1
tnk2
tnk3
wits_data
=======================
Última fila de la tabla "area_gen_data":
   id           timestamp  rig_config_id   session_timestamp name_area_11  \
0   5 2025-07-09 09:51:22              3 2025-06-08 13:00:00     Canal 11

   channel_area_11 unit_area_11  min_area_11  max_area_11 state_area_11  ...  \
0              0.0       unidad          0.0        100.0        Óptimo  ...

  min_area_20  max_area_20 state_area_20  name_area_21  channel_area_21  \
0         0.0        100.0        Óptimo      Canal 21              0.0

  unit_area_21 min_area_21  max_area_21 state_area_21  equipo_id
0       unidad         0.0        100.0        Óptimo       None

[1 rows x 71 columns]

Última fila de la tabla "bomba_despacho_data":
Empty DataFrame
Columns: [id, timestamp, rig_config_id, session_timestamp, name_bom_22, channel_bom_22, unit_bom_22, min_bom_22, max_bom_22, state_bom_22, name_bom_23, channel_bom_23, unit_bom_23, min_bom_23, max_bom_23, state_bom_23, name_bom_24, channel_bom_24, unit_bom_24, min_bom_24, max_bom_24, state_bom_24, name_bom_25, channel_bom_25, unit_bom_25, min_bom_25, max_bom_25, state_bom_25, name_bom_26, channel_bom_26, unit_bom_26, min_bom_26, max_bom_26, state_bom_26, name_bom_27, channel_bom_27, unit_bom_27, min_bom_27, max_bom_27, state_bom_27, name_bom_28, channel_bom_28, unit_bom_28, min_bom_28, max_bom_28, state_bom_28, name_bom_29, channel_bom_29, unit_bom_29, min_bom_29, max_bom_29, state_bom_29, name_bom_30, channel_bom_30, unit_bom_30, min_bom_30, max_bom_30, state_bom_30, name_bom_31, channel_bom_31, unit_bom_31, min_bom_31, max_bom_31, state_bom_31, name_bom_32, channel_bom_32, unit_bom_32, min_bom_32, max_bom_32, state_bom_32, name_bom_33, channel_bom_33, unit_bom_33, min_bom_33, max_bom_33, state_bom_33, name_bom_34, channel_bom_34, unit_bom_34, min_bom_34, max_bom_34, state_bom_34, name_bom_35, channel_bom_35, unit_bom_35, min_bom_35, max_bom_35, state_bom_35, name_bom_36, channel_bom_36, unit_bom_36, min_bom_36, max_bom_36, state_bom_36, name_bom_37, channel_bom_37, unit_bom_37, min_bom_37, max_bom_37, state_bom_37, ...]
Index: []

[0 rows x 125 columns]

Última fila de la tabla "calculos_config":
   id  id_codigo   session_timestamp         nombre              descripcion  \
0  24  codigo_02 2025-06-08 13:00:00  Nuevo Cálculo  Descripción del cálculo

       formula Unidad   timestamp_created
0  var5+var7/8  metro 2025-07-13 17:40:07

Última fila de la tabla "calculos_config_copy1":
Empty DataFrame
Columns: [id, id_codigo, session_timestamp, nombre, descripcion, formula, Unidad, timestamp_created]
Index: []

Última fila de la tabla "calculos_resultado":
Empty DataFrame
Columns: [id, timestamp, session_timestamp, codigo_01, resultado_01, unidad_01, codigo_02, resultado_02, unidad_02, codigo_03, resultado_03, unidad_03, codigo_04, resultado_04, unidad_04, codigo_05, resultado_05, unidad_05, codigo_06, resultado_06, unidad_06, codigo_07, resultado_07, unidad_07, codigo_08, resultado_08, unidad_08, codigo_09, resultado_09, unidad_09, codigo_10, resultado_10, unidad_10, codigo_11, resultado_11, unidad_11, codigo_12, resultado_12, unidad_12, codigo_13, resultado_13, unidad_13, codigo_14, resultado_14, unidad_14, codigo_15, resultado_15, unidad_15, codigo_16, resultado_16, unidad_16, codigo_17, resultado_17, unidad_17, codigo_18, resultado_18, unidad_18, codigo_19, resultado_19, unidad_19, codigo_20, resultado_20, unidad_20]
Index: []

[0 rows x 63 columns]

Última fila de la tabla "calculos_resultado_2":
     id           timestamp   session_timestamp codigo_21 resultado_21  \
0  1025 2025-07-12 18:11:44 2025-06-08 13:00:00    prueba       0.0000

  unidad_21 codigo_22 resultado_22 unidad_22 codigo_23  ... unidad_37  \
0     metro      None         None      None      None  ...      None

  codigo_38 resultado_38 unidad_38 codigo_39 resultado_39 unidad_39 codigo_40  \
0      None         None      None      None         None      None      None

  resultado_40 unidad_40
0         None      None

[1 rows x 63 columns]

Última fila de la tabla "channel_config":
Empty DataFrame
Columns: [id, rig_config_id, tab_name, channel_number, custom_name, unit, min_value, max_value, auto_range, config_json, created_at]
Index: []

Última fila de la tabla "codigo_calculo":
   id     codigo
0  40  codigo_40

Última fila de la tabla "drilling_sessions":
   id   session_timestamp   session_name  rig_config_id  status  start_depth  \
0   4 2025-06-08 13:00:00  pozo ixachi 3              3  active          0.0

   end_depth duration_hours     notes          created_at          updated_at  \
0     1000.0           None  prueba 3 2025-06-08 13:18:50 2025-06-08 13:33:51

                                         config_json
0  {"session_info": {"session_name": "pozo ixachi...

Última fila de la tabla "fgenerador1_data":
   id           timestamp  rig_config_id   session_timestamp        name_1  \
0  19 2025-07-12 00:47:50              3 2025-06-08 13:00:00  Status Word

   channel_1  unit_1  min_1  max_1 state_1  ... min_9  max_9 state_9  \
0        0.0  UNIDAD    0.0  100.0  Óptimo  ...   0.0  100.0  Óptimo

                      name_10  channel_10 unit_10 min_10  max_10 state_10  \
0  Engine temperature Retorno         0.0      °C    0.0   100.0   Óptimo

   equipo_id
0          1

[1 rows x 65 columns]

/var/folders/c_/z3ntyq_s17gcbkcqcjdzd2wc0000gn/T/ipykernel_66759/1981261933.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  table_name = row[0]

Última fila de la tabla "fgenerador2_data":
   id           timestamp  rig_config_id   session_timestamp   name_11  \
0  16 2025-07-12 00:48:14              3 2025-06-08 13:00:00  Canal 11

   channel_11 unit_11  min_11  max_11 state_11  ... min_19  max_19 state_19  \
0         0.0  UNIDAD     0.0   100.0   Óptimo  ...    0.0   100.0   Óptimo

    name_20  channel_20 unit_20 min_20  max_20 state_20  equipo_id
0  Canal 20         0.0  UNIDAD    0.0   100.0   Óptimo          1

[1 rows x 65 columns]

Última fila de la tabla "fgenerador3_data":
   id           timestamp  rig_config_id   session_timestamp   name_21  \
0  21 2025-07-12 00:48:53              3 2025-06-08 13:00:00  Canal 21

   channel_21 unit_21 min_21 max_21 state_21  ... min_29  max_29 state_29  \
0         0.0  UNIDAD    0.0  100.0   Óptimo  ...    0.0   100.0   Óptimo

    name_30 channel_30 unit_30 min_30  max_30 state_30 equipo_id
0  Canal 30        0.0  UNIDAD    0.0   100.0   Óptimo         1

[1 rows x 65 columns]

Última fila de la tabla "fgenerador4_data":
     id           timestamp  rig_config_id   session_timestamp   name_31  \
0  4690 2025-07-12 00:49:16              3 2025-06-08 13:00:00  Canal 31

   channel_31 unit_31 min_31 max_31 state_31  ... min_39  max_39 state_39  \
0         0.0  UNIDAD    0.0  100.0   Óptimo  ...    0.0   100.0   Óptimo

    name_40 channel_40 unit_40 min_40  max_40 state_40 equipo_id
0  Canal 40        0.0  UNIDAD    0.0   100.0   Óptimo         1

[1 rows x 65 columns]

Última fila de la tabla "fgenerador5_data":
     id           timestamp  rig_config_id   session_timestamp   name_41  \
0  4693 2025-07-12 00:49:36              3 2025-06-08 13:00:00  Canal 41

   channel_41 unit_41  min_41  max_41 state_41  ... min_50  max_50 state_50  \
0         0.0  UNIDAD     0.0   100.0   Óptimo  ...    0.0   100.0   Óptimo

      name_51  channel_51 unit_51 min_51  max_51 state_51  equipo_id
0  Efficiency        None       %   None    None     None          1

[1 rows x 71 columns]

Última fila de la tabla "fgenerador6_data":
     id           timestamp  rig_config_id   session_timestamp   name_51  \
0  4688 2025-07-12 00:49:54              3 2025-06-08 13:00:00  Canal 51

   channel_51 unit_51  min_51  max_51 state_51  ... min_59  max_59 state_59  \
0         0.0  UNIDAD     0.0   100.0   Óptimo  ...    0.0   100.0   Óptimo

    name_60  channel_60 unit_60 min_60  max_60 state_60  equipo_id
0  Canal 60         0.0  UNIDAD    0.0   100.0   Óptimo          1

[1 rows x 65 columns]

Última fila de la tabla "fgenerador7_data":
     id           timestamp  rig_config_id   session_timestamp name_aux_1  \
0  4709 2025-07-10 17:42:06              3 2025-06-08 13:00:00    Canal 1

   channel_aux_1 unit_aux_1  min_aux_1  max_aux_1 state_aux_1  ... min_aux_9  \
0            0.0     unidad        0.0      100.0      Óptimo  ...       0.0

   max_aux_9 state_aux_9  name_aux_10  channel_aux_10 unit_aux_10 min_aux_10  \
0      100.0      Óptimo     Canal 10             0.0      unidad        0.0

   max_aux_10 state_aux_10  equipo_id
0       100.0       Óptimo          1

[1 rows x 65 columns]

Error consultando la tabla "inf_equipos": (pymysql.err.OperationalError) (1054, "Unknown column 'id' in 'order clause'")
[SQL: SELECT * FROM `inf_equipos` ORDER BY id DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
Última fila de la tabla "rig_config":
   id           timestamp    nombre contratista  objetivo_profundidad region  \
0   3 2025-06-08 08:32:58  rig odin        opex                  10.0    sur

     ubicacion latitud longitud  distancia_costa puerto_cercano       tipo  \
0  cuazacualco     100       34             10.0       veracruz  Terrestre

  operador  profundidad_agua  capacidad_carga  potencia  presion_maxima  \
0     bord              10.0             10.0      3500           500.0

      notas                                        config_json
0  prueba 2  {"general": {"nombre": "rig odin", "contratist...

Última fila de la tabla "tnk1":
Empty DataFrame
Columns: [id, timestamp, rig_config_id, session_timestamp, name_tnk_42, channel_tnk_42, unit_tnk_42, min_tnk_42, max_tnk_42, state_tnk_42, name_tnk_43, channel_tnk_43, unit_tnk_43, min_tnk_43, max_tnk_43, state_tnk_43, name_tnk_44, channel_tnk_44, unit_tnk_44, min_tnk_44, max_tnk_44, state_tnk_44, name_tnk_45, channel_tnk_45, unit_tnk_45, min_tnk_45, max_tnk_45, state_tnk_45, name_tnk_46, channel_tnk_46, unit_tnk_46, min_tnk_46, max_tnk_46, state_tnk_46, name_tnk_47, channel_tnk_47, unit_tnk_47, min_tnk_47, max_tnk_47, state_tnk_47, equipo_id]
Index: []

[0 rows x 41 columns]

Última fila de la tabla "tnk2":
     id           timestamp  rig_config_id   session_timestamp name_tnk_48  \
0  4679 2025-07-10 13:49:26              3 2025-06-08 13:00:00    Canal 48

   channel_tnk_48 unit_tnk_48  min_tnk_48  max_tnk_48 state_tnk_48  ...  \
0             0.0      unidad         0.0       100.0       Óptimo  ...

  min_tnk_51  max_tnk_51 state_tnk_51  name_tnk_52  channel_tnk_52  \
0        0.0       100.0       Óptimo     Canal 52             0.0

  unit_tnk_52 min_tnk_52  max_tnk_52 state_tnk_52  equipo_id
0      unidad        0.0       100.0       Óptimo       None

[1 rows x 35 columns]

Última fila de la tabla "tnk3":
     id           timestamp  rig_config_id   session_timestamp name_tnk3_53  \
0  4693 2025-07-10 14:06:39              3 2025-06-08 13:00:00     Canal 53

   channel_tnk3_53 unit_53  min_tnk3_53  max_tnk3_53 state_tnk3_53  ...  \
0              0.0  unidad          0.0        100.0        Óptimo  ...

  min_tnk3_57  max_tnk3_57 state_tnk3_57  name_tnk3_58  channel_tnk3_58  \
0         0.0        100.0        Óptimo      Canal 58              0.0

  unit_tnk3_58 min_tnk3_58  max_tnk3_58 state_tnk3_58 equipo_id
0       unidad         0.0        100.0        Óptimo      None

[1 rows x 41 columns]

Última fila de la tabla "wits_data":
     id           timestamp  rig_config_id   session_timestamp  N0105 W0105  \
0  1468 2025-07-10 14:05:25              3 2025-06-08 13:00:00  Fecha  None

    U0105 N0106 W0106   U0106  ...               N0133 W0133 U0133  \
0  unidad  Hora  None  unidad  ...  Temperatura salida  None    °C

                 N0134 W0134 U0134      Cuñas  Actividad         Subactividad  \
0  Temperatura entrada  None    °C  SIN DATOS  SIN DATOS  ESPERA DE ACTIVIDAD

                                         config_json
0  {"wits_values": {}, "states": {"cunas": "SIN D...

[1 rows x 83 columns]