In [25]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus
import pandas as pd
# Connection parameters
host = '192.168.3.102'
user = 'devturingmx'
password = quote_plus('des@rrollo')  # URL encode the password
database = 'sistema_monitoreo'  # Changed database name to sistema_monitoreo

# Create connection URL
connection_url = f'mysql+pymysql://{user}:{password}@{host}/{database}'

try:
    # Create the engine
    engine = create_engine(connection_url)
    
    # Test the connection
    with engine.connect() as connection:
        print("Successfully connected to MySQL database!")
        
        # Query to get all tables in the schema
        # Consulta para obtener todos los nombres de las tablas
        query = 'SHOW TABLES'
        tables = pd.read_sql(query, connection)
        # print(f"Lista de nombres de las tablas de la base de datos: {tables}")
        print("\nTablas en la base de datos:")
        # Get table names as a list and print them
        table_list = tables.iloc[:, 0].tolist()
        for table in table_list:
            print(f"{table}")

        print("=======================")

        # Arreglo para guardar los nombres de las tablas
        table_names = []
        # Guardar los nombres de las tablas en una lista
        for index, row in tables.iterrows():
            # En SHOW TABLES, el nombre está en la primera columna
            table_name = row[0]  
            # Guardar los nombres en el arreglo
            table_names.append(table_name)

        # Iterar sobre cada tabla y obtener la última fila (por ID descendente)
        for table_name in table_names:
            # Query para obtneer la ultima fila de la tablas
            query_last_row = f"SELECT * FROM `{table_name}` ORDER BY id DESC LIMIT 1"
            try:
                # usar pandas para obtener la data
                last_row = pd.read_sql(query_last_row, connection)
                # Imprimir la data
                print(f'Última fila de la tabla "{table_name}":\n{last_row}\n')
            except Exception as e:
                print(f'Error consultando la tabla "{table_name}": {e}')

except Exception as e:
    print(f"Error connecting to database: {e}")

Successfully connected to MySQL database!

Tablas en la base de datos:
area_gen
bombas
calculos_config
calculos_resultado
channel_config
codigo_calculo
drilling_sessions
fgenerador1_data
fgenerador2_data
fgenerador3_data
fgenerador4_data
fgenerador5_data
fgenerador6_data
fgenerador7_data
rig_config
tnk1
tnk2
tnk3
wits_data
=======================

/var/folders/c_/z3ntyq_s17gcbkcqcjdzd2wc0000gn/T/ipykernel_65902/3260008670.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  table_name = row[0]

Última fila de la tabla "area_gen":
Empty DataFrame
Columns: [id, timestamp, rig_config_id, session_timestamp, channel_01, name_1, unit_01, channel_02, name_2, unit_02, channel_03, name_3, unit_03, channel_04, name_4, unit_04, channel_05, name_5, unit_05, channel_06, name_6, unit_06, channel_07, name_7, unit_07, channel_08, name_8, unit_08, channel_09, name_9, unit_09, channel_10, name_10, unit_10, channel_11, name_11, unit_11, channel_12, name_12, unit_12, channel_13, name_13, unit_13]
Index: []

[0 rows x 43 columns]

Última fila de la tabla "bombas":
Empty DataFrame
Columns: [id, timestamp, rig_config_id, session_timestamp, channel_01, name_1, unit_01, channel_02, name_2, unit_02, channel_03, name_3, unit_03, channel_04, name_4, unit_04, channel_05, name_5, unit_05, channel_06, name_6, unit_06, channel_07, name_7, unit_07, channel_08, name_8, unit_08, channel_09, name_9, unit_09, channel_10, name_10, unit_10, channel_11, name_11, unit_11, channel_12, name_12, unit_12, channel_13, name_13, unit_13, channel_14, name_14, unit_14]
Index: []

[0 rows x 46 columns]

Última fila de la tabla "calculos_config":
   id  id_codigo   session_timestamp nombre               descripcion  \
0  15  codigo_01 2025-06-08 13:00:00   suma  Descripción del cálculo1

     formula   timestamp_created
0  var1+var2 2025-06-15 02:55:35

Última fila de la tabla "calculos_resultado":
    id           timestamp   session_timestamp codigo_01 resultado_01  \
0  909 2025-06-14 19:27:24 2025-06-08 13:00:00      gene       0.0000

  unidad_01 codigo_02 resultado_02 unidad_02 codigo_03  ... unidad_17  \
0                None         None      None      None  ...      None

  codigo_18 resultado_18 unidad_18 codigo_19 resultado_19 unidad_19 codigo_20  \
0      None         None      None      None         None      None      None

  resultado_20 unidad_20
0         None      None

[1 rows x 63 columns]

Última fila de la tabla "channel_config":
Empty DataFrame
Columns: [id, rig_config_id, tab_name, channel_number, custom_name, unit, min_value, max_value, auto_range, config_json, created_at]
Index: []

Última fila de la tabla "codigo_calculo":
   id codigo
0  21  cal21

Última fila de la tabla "drilling_sessions":
   id   session_timestamp   session_name  rig_config_id  status  start_depth  \
0   4 2025-06-08 13:00:00  pozo ixachi 3              3  active          0.0

   end_depth duration_hours     notes          created_at          updated_at  \
0     1000.0           None  prueba 3 2025-06-08 13:18:50 2025-06-08 13:33:51

                                         config_json
0  {"session_info": {"session_name": "pozo ixachi...

Última fila de la tabla "fgenerador1_data":
     id           timestamp  rig_config_id   session_timestamp        name_1  \
0  4136 2025-06-20 16:39:49              3 2025-06-08 13:00:00  Status Word

   channel_01 unit_01         name_2  channel_02 unit_02  ... unit_15  \
0       200.0  unidad  Status Word 2    167363.0  unidad  ...  unidad

             name_16 channel_16 unit_16           name_17 channel_17 unit_17  \
0  Potencia Reactiva       85.0  unidad  Factor Potencia        75.0  unidad

    name_18 channel_18 unit_18
0  Canal 18       67.0  unidad

[1 rows x 58 columns]

Última fila de la tabla "fgenerador2_data":
     id           timestamp  rig_config_id session_timestamp  channel_01  \
0  1440 2025-06-01 23:59:00              1        2025-06-05      104.28

    name_1 unit_01  channel_02   name_2 unit_02  ...  unit_15 channel_16  \
0  Canal 1     bar      114.01  Canal 2   kg/m³  ...       lb     247.01

    name_16  unit_16 channel_17   name_17  unit_17 channel_18   name_18  \
0  Canal 16      bar     259.54  Canal 17    kg/m³     269.08  Canal 18

   unit_18
0       ft

[1 rows x 58 columns]

Última fila de la tabla "fgenerador3_data":
     id           timestamp  rig_config_id session_timestamp  channel_01  \
0  1440 2025-06-01 23:59:00              1        2025-06-05      104.16

    name_1 unit_01  channel_02   name_2 unit_02  ...  unit_15 channel_16  \
0  Canal 1   deg/s      113.76  Canal 2     psi  ...      psi     245.19

    name_16  unit_16 channel_17   name_17  unit_17 channel_18   name_18  \
0  Canal 16      ton     257.34  Canal 17       lb     269.51  Canal 18

   unit_18
0    l/min

[1 rows x 58 columns]

Última fila de la tabla "fgenerador4_data":
     id           timestamp  rig_config_id session_timestamp  channel_01  \
0  1440 2025-06-01 23:59:00              1        2025-06-05      100.48

    name_1 unit_01  channel_02   name_2 unit_02  ...  unit_15 channel_16  \
0  Canal 1   deg/s      112.65  Canal 2      ft  ...        K     249.33

    name_16  unit_16 channel_17   name_17  unit_17 channel_18   name_18  \
0  Canal 16      rpm     257.44  Canal 17        m     265.73  Canal 18

   unit_18
0    l/min

[1 rows x 58 columns]

Última fila de la tabla "fgenerador5_data":
     id           timestamp  rig_config_id session_timestamp  channel_01  \
0  1440 2025-06-01 23:59:00              1        2025-06-05       98.78

    name_1 unit_01  channel_02   name_2 unit_02  ...  unit_15 channel_16  \
0  Canal 1   kg/m³      111.17  Canal 2   deg/s  ...    kg/m³     252.94

    name_16  unit_16 channel_17   name_17  unit_17 channel_18   name_18  \
0  Canal 16    kg/m³      263.1  Canal 17      kPa     271.41  Canal 18

   unit_18
0      gal

[1 rows x 58 columns]

Última fila de la tabla "fgenerador6_data":
     id           timestamp  rig_config_id session_timestamp  channel_01  \
0  1440 2025-06-01 23:59:00              1        2025-06-05       98.99

    name_1 unit_01  channel_02   name_2 unit_02  ...  unit_15 channel_16  \
0  Canal 1   kg/m³      112.52  Canal 2     ton  ...        l     248.95

    name_16  unit_16 channel_17   name_17  unit_17 channel_18   name_18  \
0  Canal 16      gal     259.03  Canal 17      psi     265.39  Canal 18

   unit_18
0       in

[1 rows x 58 columns]

Última fila de la tabla "fgenerador7_data":
     id           timestamp  rig_config_id session_timestamp  channel_01  \
0  1440 2025-06-01 23:59:00              1        2025-06-05       97.09

    name_1 unit_01  channel_02   name_2 unit_02  ...  unit_15 channel_16  \
0  Canal 1     rpm      106.88  Canal 2     kPa  ...    kg/m³     247.18

    name_16  unit_16 channel_17   name_17  unit_17 channel_18   name_18  \
0  Canal 16    kg/m³     255.55  Canal 17      psi     274.47  Canal 18

   unit_18
0   scaled

[1 rows x 58 columns]

Última fila de la tabla "rig_config":
   id           timestamp    nombre contratista  objetivo_profundidad region  \
0   3 2025-06-08 08:32:58  rig odin        opex                  10.0    sur

     ubicacion latitud longitud  distancia_costa puerto_cercano       tipo  \
0  cuazacualco     100       34             10.0       veracruz  Terrestre

  operador  profundidad_agua  capacidad_carga  potencia  presion_maxima  \
0     bord              10.0             10.0      3500           500.0

      notas                                        config_json
0  prueba 2  {"general": {"nombre": "rig odin", "contratist...

Última fila de la tabla "tnk1":
Empty DataFrame
Columns: [id, timestamp, rig_config_id, session_timestamp, channel_01, name_1, unit_01, channel_02, name_2, unit_02, channel_03, name_3, unit_03, channel_04, name_4, unit_04, channel_05, name_5, unit_05, channel_06, name_6, unit_06, channel_07, name_7, unit_07, channel_08, name_8, unit_08, channel_09, name_9, unit_09, channel_10, name_10, unit_10, channel_11, name_11, unit_11, channel_12, name_12, unit_12, channel_13, name_13, unit_13, channel_14, name_14, unit_14]
Index: []

[0 rows x 46 columns]

Última fila de la tabla "tnk2":
Empty DataFrame
Columns: [id, timestamp, rig_config_id, session_timestamp, channel_01, name_1, unit_01, channel_02, name_2, unit_02, channel_03, name_3, unit_03, channel_04, name_4, unit_04, channel_05, name_5, unit_05, channel_06, name_6, unit_06, channel_07, name_7, unit_07, channel_08, name_8, unit_08, channel_09, name_9, unit_09, channel_10, name_10, unit_10, channel_11, name_11, unit_11, channel_12, name_12, unit_12, channel_13, name_13, unit_13, channel_14, name_14, unit_14]
Index: []

[0 rows x 46 columns]

Última fila de la tabla "tnk3":
Empty DataFrame
Columns: [id, timestamp, rig_config_id, session_timestamp, channel_01, name_1, unit_01, channel_02, name_2, unit_02, channel_03, name_3, unit_03, channel_04, name_4, unit_04, channel_05, name_5, unit_05, channel_06, name_6, unit_06, channel_07, name_7, unit_07, channel_08, name_8, unit_08, channel_09, name_9, unit_09, channel_10, name_10, unit_10, channel_11, name_11, unit_11, channel_12, name_12, unit_12, channel_13, name_13, unit_13, channel_14, name_14, unit_14]
Index: []

[0 rows x 46 columns]

Última fila de la tabla "wits_data":
     id           timestamp  rig_config_id   session_timestamp  N0105  \
0  1467 2025-06-20 14:37:50              3 2025-06-08 13:00:00  Fecha

        W0105   U0105 N0106     W0106   U0106  ...               N0133 W0133  \
0  20250600.0  unidad  Hora  143750.0  unidad  ...  Temperatura salida  None

  U0133                N0134  W0134 U0134  Cuñas    Actividad  \
0    °C  Temperatura entrada   None    °C  FUERA  ESTACIONADO

          Subactividad                                        config_json
0  ESPERANDO OPERACION  {"wits_values": {"0010": "1", "10": "1", "010"...

[1 rows x 83 columns]